@media (min-width: 1500px) {
    .evolutionPokemon {
        height: 400px;
        width: 300px;
    }  
}

@media (min-width: 1040px) {
    #bigPicture {
        width: 65% !important;
    }  
}

@media (max-width: 1050px) {
    #bigPicture {
        width: 97vw !important;
    }
}

@media (max-width: 750px) {
    .pokemonImagesXL {
        height: 300px;
        width: 300px;
    }
}

@media (max-width: 600px) {
    .pokemonImagesDiv {
        width: 215px !important;
    }
    .imgPictureArrayDiv {
        flex-direction: column !important;
        gap: 0 !important;
        justify-content: unset !important;
        align-items: center;
    }
    .info {
        flex-direction: column;
        align-items: center;
    }
    header {
        flex-direction: column;
        align-items: center;
        gap: 34px;
    }
}

@media (max-width: 500px) {
    .hidden {
        display: none !important;
    }
    .navButton {
        font-size: 12px;
    }
}