.grass {
    background-image: url("../assets/icons/grass.svg");
}

.bg-grass {
    background-color: green;
}

.fire {
    background-image: url("../assets/icons/fire.svg");
}

.bg-fire {
    background-color: darkred;
}

.flying {
    background-image: url("../assets/icons/flying.svg");
}

.bg-flying {
    background-color: gray;
}

.water {
    background-image: url("../assets/icons/water.svg");
}

.bg-water {
    background-color: darkblue;
}

.normal {
    background-image: url("../assets/icons/normal.svg");
}

.bg-normal {
    background-color: grey;
}

.bug{
    background-image: url("../assets/icons/bug.svg");
}

.bg-bug {
    background-color: darkgreen;
}

.fighting {
    background-image: url("../assets/icons/fighting.svg");
}

.bg-fighting {
    background-color: brown;
}

.poison {
    background-image: url("../assets/icons/poison.svg");
}

.bg-poison {
    background-color: blueviolet;
}

.rock {
    background-image: url("../assets/icons/rock.svg");
}

.bg-rock {
    background-color: burlywood;
}

.electric {
    background-image: url("../assets/icons/electric.svg");
}

.bg-electric {
    background-color: yellow;    
}

.fairy {
    background-image: url("../assets/icons/fairy.svg");
}

.bg-fairy {
    background-color: pink;
}

.ghost {
    background-image: url("../assets/icons/ghost.svg");
}

.bg-ghost {
    background-color: #683e68;
}

.dark {
    background-image: url("../assets/icons/dark.svg");
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0.2);
}

.ice {
    background-image: url("../assets/icons/ice.svg");
}

.bg-ice {
    background-color: cyan;
}