body {
    margin: 0;
    font-weight: bold;
    color: white;
}

.f_s_18 {
    font-size: 18px;
}

.f_s_28 {
    font-size: 28px;
}

.d_none {
    display: none;
}

.d_flex {
    display: flex;
}

.d_flex_c {
    display: flex;
    justify-content: space-around;
}

.center {
    display: flex;
    justify-content: center;
}

.distance {
    padding-left: 24px;
}

.mainDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.imgPictureArrayDiv {
    display: flex;
    justify-content: center;
    gap: 38px;
}

.backgroundImageCenter {
    background-position: center;
    background-size: cover;
}

.loadMore{
    background-color: brown;
    height: 60px;
    width: 265px;
    font-weight: bold;
    font-size: 40px;
}

.loadMore:hover {
    cursor: pointer;
}

.h-80 {
    height: 80px;
}

.undefined {
    display: none !important;
}