body {
    margin: 0;
    font-weight: bold;
    color: white;
}

input {
    height: 40px;
    text-align: center;
    border-radius: 24px;
} 

.mainDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.imgPictureArrayDiv {
    display: flex;
    justify-content: center;
    gap: 38px;
}

.backgroundImageCenter {
    background-position: center;
    background-size: cover;
}

.loadMore{
    background-color: chocolate;
    height: 60px;
    width: 265px;
    border-radius: 24px;
    font-weight: bold;
    font-size: 40px;
}

.undefined {
    display: none !important;
}

.statsDiv {
    width: 50%;
    background-color: white;
    height: 10px;
    color: black;
    text-align: center;
}

.statsText {
    background-color: green;
    height: 100%;
}

.pokemonTypes {
    height: 70px; 
    width: 70px; 
    border-radius: 24px
}

.navButton {
    background-color: darkred;
    padding: 12px;
    box-sizing: border-box;
    border: 0;
    border-radius: 24px;
    font-weight: bold;
    font-size: 24px;
}

.bigPicture {
    background-color: rgba(80, 0, 0, 1); 
    width: 30%; 
    padding: 25px 4px;
}

.bigPictureDiv { 
    position: fixed; 
    top: 3%; 
    height: 100%;
    align-items: center
}

.center-gap-12 {
    align-items: center;
    gap: 12px;
}

.center-gap-36 {
    align-items: center;
    gap: 32px;
}

.notFoundFilter {
    height: 66vh !important;
    align-items: center;
}

.waitAnimation {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switchButton {
    height: 50px;
    width: 50px;
    font-size: 36px;
    font-weight: bold;
}